{% if customers.has_other_pages %}
<nav aria-label="Customer pagination">
    <ul class="pagination justify-content-center">
        {% if customers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.active_only %}&active_only=on{% endif %}{% if request.GET.customer_type %}&customer_type={{ request.GET.customer_type }}{% endif %}">Първа</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ customers.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.active_only %}&active_only=on{% endif %}{% if request.GET.customer_type %}&customer_type={{ request.GET.customer_type }}{% endif %}">Предишна</a>
            </li>
        {% endif %}
        
        {% for num in customers.paginator.page_range %}
            {% if customers.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% elif num > customers.number|add:'-3' and num < customers.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.active_only %}&active_only=on{% endif %}{% if request.GET.customer_type %}&customer_type={{ request.GET.customer_type }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if customers.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ customers.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.active_only %}&active_only=on{% endif %}{% if request.GET.customer_type %}&customer_type={{ request.GET.customer_type }}{% endif %}">Следваща</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ customers.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.active_only %}&active_only=on{% endif %}{% if request.GET.customer_type %}&customer_type={{ request.GET.customer_type }}{% endif %}">Последна</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
